

html {
    font-family: 'Bebas Neue';
    height: 100vh;
    color:#097968;
}

body {
    display: flex;
    height: 100%;
    width: 100%;
}

main {
    background-color: antiquewhite;
    width: 64vw;
    border-left: 15px solid white;
    border-right: 15px solid white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 40px;
    display: flex;
    justify-content: center;
    color:#C8A2C8;
}

h2 {
    display: flex;
    justify-content: center;
    margin: 0;
    font-size: 40px;
}

.heading-1 {
    font-size: 75px;
    color:#097968;
}

.version-selector {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 43vw;
    height: 50vh;
    border-radius: 7px;
}

.version-selector-classic, .version-selector-difficult {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #FFFFA7;
    width: 200px;
    padding: 10px;
    height: 200px;
    border-radius: 7px;
}

.version-selector-classic {
    margin-right: 35px;
}

ul {
    font-size: 20px;
    list-style: none;
    font-family: 'Sofia Sans';
}

.win-counter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 18vw;
    background-color:#097968;
    color: antiquewhite;
}

.human-sidebar {
    display: flex;
    order: -1;
}

.comp-sidebar {
    display: flex;
}

.material-symbols-outlined {
    margin-top: 30px;
    font-size: 55px !important;
    color: #FFFFA7;
}

form {
    display: flex;
    justify-content: center;
}

p {
    font-size: 30px;
}

.selector-headings {
    font-size: 35px;
}